@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* MAIN STYLES */

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

input, textarea {
    outline: none;
}

.header-section, main, .footer-section {
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header-social {
    font-size: 0;
}

.header-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-social {
    display: block;
    margin-left: 10px;
}

.header-right {
    display: flex;
}

.logo-img {
    width: 125px;
}

.header-topbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* HEADER MENU */

.header-nav-block {
    background: #2b2f3a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    display: block;
    font-size: 14px;
    color: #7a8189;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-button:hover {
    color: #fff;
    transition: 0.3s;
}

.customer-login {
    border-radius: 15px;
    color: #eeeeee;
    background-color: #808080;
    padding: 7px 12px;
}

.customer-login:hover {
    color: #fff;
    transition: 0.3s;
    background-color: #E46713;
}

/* CUSTOM SECTION */

.section-custom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-main {
    font-size: 53px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
}

.description-title {
    font-size: 22px;
    line-height: 1;
    color: #E46713;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 45px;
}

.button-main {
    background: #efefef;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 0px;
    transition: 0.5s;
}

.button-main:hover {
    transition: 0.5s;
    border-radius: 20px;
    transition: 0.5s;
}

.left-custom {
    width: 35%;
}

.flex-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-custom {
    width: 65%;
}

.custom-img {
    width: 750px;
}

.text-custom {
    line-height: 1.8em;
    font-size: 19px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    padding-top: 40px;
}

/* DESCRIPTION SECTION */

.frame-img-block {
    width: 33%;
    font-size: 0;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-text-block {
    width: 67%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.business-mobile-frame .frame-text-block {
    background: #2374A9;
}

.desktop-app-frame .frame-text-block {
    background: #E46713;
}

.integration-frame .frame-text-block {
    background: #ff1493;
}

.geeky-frame .frame-text-block {
    background: #1b313e;
}

.desktop-app-frame .frame-text-block, .geeky-frame .frame-text-block{
    width: 59%;
}

.desktop-app-frame .frame-img-block, .geeky-frame .frame-img-block{
    width: 39%;
}

.geeky-frame .frame-img-block {
    text-align: center;
}

.integration-frame .frame-img-block {
    text-align: center;
}

.integration-frame .frame-img {
    width: 315px;
}

.geeky-frame .frame-img {
    width: 450px;
}

.frame-block {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}








/*.business-mobile-frame {
    align-items: center;
    justify-content: center;
}

.business-mobile-frame .frame-text-block {
    background: #2374A9;
    width: 50%;
    margin-left: -75px;
}

.business-mobile-frame .frame-img {
    width: 470px;
}

.business-mobile-frame .frame-img-block {
    width: 39%;
}



.desktop-app-frame {
    align-items: flex-start;
    justify-content: center!important;
    padding-top: 25px;
}

.desktop-app-frame .frame-text-block {
    background: #E46713;
}

.desktop-app-frame .frame-text-block {
    width: 40%;
    position: relative;
    z-index: 99;
}

.desktop-app-frame .frame-img-block {
    width: 60%;
    margin-left: -100px;
    position: relative;
    z-index: 1;
}

.desktop-app-frame  .frame-img {
    width: 700px;
}




.integration-frame .frame-text-block {
    background: #ff1493;
    width: 50%;
    margin-left: -55px;
}

.integration-frame {
    align-items: center;
    justify-content: center;
}


.integration-frame .frame-img {
    width: 415px;
}

.integration-frame .frame-img-block {
    width: 39%;
}

.geeky-frame {
    justify-content: center;
    align-items: center;
}

.geeky-frame .frame-text-block {
    background: #1b313e;
    width: 50%;
    position: relative;
    z-index: 99;
}

.geeky-frame .frame-img {
    width: 550px;
}

.geeky-frame .frame-img-block {
    width: 50%;
    position: relative;
    z-index: 1;
    margin-left: -50px;
}*/

.frame-block {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.frame-img {
    max-width: 100%;
}

.text-frame {
    line-height: 1.4em;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 10px;
}

.title-frame {
    line-height: 1.4em;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
}

.frame-block .button-main {
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    border-radius: 0px;
    transition: 0.5s;
}

.frame-block .button-main:hover {
    background: #efefef;
    color: #000;
    border-radius: 20px;
    transition: 0.5s;
} 

/* CONTACT SECTION */

.section-contact {
    width: 100%;
    max-width: 1200px;
    background: url(../site_assets/images/banner-contact.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.opacity-contact {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-contact {
    font-weight: 500;
    font-size: 55px;
    color: #fff;
    line-height: 1.3;
}

.description-contact {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    padding-top: 15px;
}

.contact-button {
    border: 2px solid #fff;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 35px;
    color: #fff;
    margin-top: 50px;
    border-radius: 0px;
    transition: 0.5s;
}

.contact-button:hover {
    border-radius: 15px;
    transition: 0.5s;
}

/* CONTACT SECTION */

.section-text-info {
    padding-top: 40px;
    padding-bottom: 20px;
}

.section-text-info .text-custom {
    padding-top: 0px;
    padding-bottom: 20px;
}

.text-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-img img {
    width: 200px;
    margin: 20px
}

/* FOOTER */

.footer-section {
    background: #224457;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title-footer {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    padding-bottom: 20px;
}

.text-footer, .footer-link, .copyright {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

.copyright {
    font-size: 15px;
    line-height: 1.6;
}

.footer-link {
    display: block;
    padding-bottom: 7px;
}

.footer-link:hover {
    text-decoration: underline;
}

.flex-footer {
    display: flex;
    justify-content: center;
}

.flex-footer > div {
    width: 25%;
    text-align: center;
}

.copyright-space{
    padding-top: 40px;
}

.footer-underline {
    border-bottom: 2px solid #fff;
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* BURGER MENU */

.burger-menu {
    display: none;
}

.bar {
    transition:0.4s;
}

.bar-1 {
    width:5em;
    display: block;
    width: 40px;
    border-top: 4px solid white;
    padding-top:6px;
    cursor:pointer;
    transition:0.4s;
}

.bar-2 {     
    width:5em;
    display: block;
    width: 40px;
    border-top: 4px solid white;
    padding-top:5px;  
    display:fixed;
    transition:0.4s;
}

.bar-3 {  
    width:5em;
    display: block;
    width: 40px;
    border-top: 4px solid white;
    padding-top:5px;
    transition:0.4s;
}

.change {
    padding-left: 3px;
}

.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 5px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar-2 {opacity:0;}

.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-10px, 5px);
    transform: rotate(45deg) translate(-8px, -3px);
}







/*----- SERVICE PAGE -----*/

.vec-img {
    width: 200px;
}

.flex-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.flex-services div:nth-child(2) {
    width: 57%;
}

.black {
    color: #000;
}

.our-services-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.all-services-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

.box-service {
    width: 32%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #E46713;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.box-service .main-container {
    padding-top: 20px;
}

.service-bg-section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.all-services-section .main-container {
    display: flex;
    flex-wrap: wrap;
}

.title-service {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    padding-top: 20px;
}

.software-development .service-bg-section  {
    background-color: orange;
}

.web-application-development .service-bg-section {
    background-color: grey;
}

.systems-analysis .service-bg-section {
    background-color: yellowgreen;
}

.cloud-hosting .service-bg-section {
    background-color: green;
}

.maintenance .service-bg-section {
    background-color: pink;
}

.service-img {
    width: 200px;
}

.text-service {
    font-size: 16px;
    line-height: 1.4;
    color: #000; 
    text-align: center;
    padding-top: 20px;
}

.underline {
    border-bottom: 2px solid #000;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/*----- OUR WORKS PAGE -----*/

.our-work-section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.work-img {
    width: 600px;
}

.succes-story {
    background: #E46713;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 10px 15px;
}

.work-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}



.works-container {
    padding-top: 50px;
}

.works-container .work-block:nth-child(1) {
    background: #2b2f3a;
}

.works-container .work-block:nth-child(1) .story-title, .works-container .work-block:nth-child(1) .work-text {
    color: #fff;
}

.works-container .work-block:nth-child(1) .work-text-block{
    padding: 30px 30px 30px 0px;
}

.works-container .work-block:nth-child(1)  .work-img-block{
    transform: translate(-40px, -40px);
}

.work-img-block {
    font-size: 0;
}

.work-text-block {
    text-align: left;
    padding-left: 20px;
}

.story-title {
    display: block;
    color: #2b2f3a;
    font-size: 37px;
    line-height: 1.4;
    font-weight: 700;
    padding-top: 20px;
}

.story-title:hover {
    color: #E46713!important;
    transition: 0.5s;
}

.work-text {
    font-size: 18px;
    color: #2b2f3a;
    margin-top: 15px;
    padding-bottom: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: 300;
}

.work-technical {
    font-size: 16px;
    color: #7a8693;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 300;
}


/*----- CONTACT US PAGE -----*/

.contact-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-section .title-main {
    text-align: center;
}

.orange {
    color: #E46713!important;
}

.title-contact-us {
    color: #E46713;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}

.contact-info-block {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.contact-section .underline {
    margin-top: 40px;
    margin-bottom: 40px;
}

.left-contact div:nth-child(1) {
    padding-bottom: 40px;
}

.text-contact {
    color: #000;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    padding-top: 15px;
    display: block;
}

.flex-social-contact {
    display: flex;
}

.flex-social-contact .header-social {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 20px;
}

.flex-social-contact img {
    width: 40px;
}

.left-contact {
    width: 35%;
}

.right-contact {
    width: 50%;
}

.right-contact .text-contact {
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
}

.contact-input-block {
    width: 100%;
    margin-top: 7px;
}

.contact-input, .contact-send {
    display: block;
    width: 100%;
    border: none;
    background: #2b2f3a;
    padding: 12px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.contact-form {
    padding-top: 20px;
}

.contact-input::placeholder {
    color: #fff;
}

.contact-send {
    background: #E46713;
    text-align: center;
    cursor: pointer;
}





@media screen and (max-width:1200px) {
    .main-container, .service-bg-section {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }

    .custom-img {
        max-width: 100%;
    }

    .work-img {
        width: 450px;
    }

    .right-custom {
        width: 62%;
    }

    .left-custom {
        width: 37%;
    }

    .flex-footer > div {
        width: 33%;
    }

    .frame-img-block {
        height: auto;
    }
}



@media screen and (max-width:992px) {
    .frame-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

    }
    .business-mobile-frame {
        background: #2374A9;
    }

    .desktop-app-frame .frame-text-block, .geeky-frame .frame-text-block {
        order: 2;
    }

    .desktop-app-frame .frame-img-block, .geeky-frame .frame-img-block {
        order: 1;
    }

    .frame-text-block {
        padding: 20px 0px 0px 0px;
        width: 100%!important;
    }
    
    .desktop-app-frame {
        background: #E46713;
    }

    .integration-frame {
        background: #ff1493;
    }

    .geeky-frame {
        background: #1b313e;
    }

    .frame-block .button-main {
        width: 100%;
    }

    .frame-text-block, .frame-img-block {
        margin: 0!important;
    }

    .flex-services {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-services div:nth-child(1) {
        order: 2;
        width: 49%;
    }

    .flex-services div:nth-child(2) {
        order: 1;
        width: 100%;
        padding-bottom: 40px;
    }

    .flex-services div:nth-child(3) {
        order: 3;
        width: 49%;
    }
    .work-img {
        width: 370px;
    }

    .works-container .work-block:nth-child(1) .work-img-block {
        transform: none;
    }
    
    .works-container .work-block:nth-child(1) .work-text-block {
        padding: 20px;
    }

    .right-contact {
        width: 60%;
    }

    .box-service {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    .burger-menu {
        display: block;
    }

    .bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: none;
        text-align: center;
        padding-top: 20px;
    }

    .nav-button {
        font-size: 18px;
        padding: 15px 0px;
    }

    .flex-custom {
        flex-direction: column;

    }
    
    .left-custom {
        width: 100%;
        text-align: center;
    }

    .description-title {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .button-main {
        font-size: 18px;
    }

    .right-custom {
        padding-top: 35px;
    }

    .flex-footer {
        flex-direction: column;
        align-items: center;
    }

    .flex-footer > div {
        padding-bottom: 25px;
        width: 100%;
    }

    .footer-underline {
        margin-top: 0px;
    }

    .title-contact {
        font-size: 45px;
    }

    .description-contact {
        font-size: 26px;
    }

    .opacity-contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .our-services-section .text-custom {
        padding-top: 20px;
    }

    .work-block {
        flex-direction: column;
    }

    .work-text-block {
        padding-left: 0px;
        padding-top: 20px;
    }

    .work-img {
        max-width: 100%;
        width: auto;
    }

    .text-custom {
        padding-top: 20px;
    }

    .contact-info-block {
        flex-direction: column;
    }

    .left-contact, .right-contact {
        width: 100%;
    }

    .right-contact {
        margin-top: 40px;
    }

    .box-service {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .right-custom {
        width: 95%;
    }

    .button-main {
        width: 100%;
        box-sizing: border-box;
    }

    .title-main {
        font-size: 10vw;
    }
    
    .description-title {
        font-size: 20px;
    }

    .text-custom {
        font-size: 16px;
    }

    .frame-img-block {
        width: 57%;
    }

    .text-img img {
        width: 120px;
        margin: 10px
    }

    .title-contact {
        font-size: 40px;
    }

    .description-contact {
        font-size: 24px;
    }

    .vec-img {
        max-width: 100%;
        width: auto;
    }

    .flex-services div:nth-child(1) {
        width: 40%;
    }

    .flex-services div:nth-child(3) {
        width: 40%;
    }

    .title-service {
        font-size: 20px;
    }

    .service-img {
        width: 190px;
    }

    .story-title {
        font-size: 33px;
    }
}

